.icon {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    svg {
        width: 100%;
    }

    &.selected {
        svg {
            .outline {
                fill: #ffa900;
            }
        }
    }
}
