.card {
  max-width: 380px;

  box-shadow: none !important;
  border: 1px solid #EBEBEB;

  .content {
    .text {
      font-size: 15px;

      color: #778192;
    }

    a {
      display: block;
      
      margin-top: 10px;

      font-size: 14px;
    }

    &:last-child {
      padding-bottom: 16px;
    }
  }
}
