.element {
  transition: all 0.5s ease;

  &Disabled {
    opacity: 0.3;
  }

  &Active {
    opacity: 1;
  }
}

.firstStep {
  transform: rotate(0deg);
}

.secondStep {
  transform: rotate(60deg);
}

.thirdStep {
  transform: rotate(120deg);
}

.fourStep {
  transform: rotate(180deg);
}
