.card {
  width: 280px;

  box-shadow: none !important;

  .content {
    display: flex;
    flex-direction: column;

    padding: 12px !important;

    font-size: 13px;

    color: #778192;

    .title {
      font-size: 15px;

      color: black;
    }

    .grade_n_date {
      display: flex;
      align-items: center;

      margin: 8px 0;

      .stars > span {
        margin-right: 6px;
      }

      .date {
        margin-left: 8px;
      }
    }

    .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}