.card {
  display: flex;
  padding: 20px 0;

  box-shadow: none !important; 

  img {
    height: 125px;
    width: 125px;

    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding-left: 20px;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;

    .title {
      font-weight: bold;
      font-size: 18px;
    }

    .price__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .price {
        font-weight: bold;
        font-size: 24px;
      }

      .discounted {
        color: red;
      }

      .price__old {
        position: relative;

        width: fit-content;

        font-size: 15px;
  
        color: #778192;
      }

      .price__old:before {
        content: "";
        border-bottom: 1px solid red;
        position: absolute;
        width: 100%;
        height: 50%;
        transform: rotate(-12deg);
      }
    }
    
  }

  .actions {
    display: flex;
    justify-content: space-between;

    padding: 0;

    button {
      text-transform: none;

      padding: 0;

      font-size: 13px;

      color: #778192;
    }

    &__left {
      button:first-child {
        margin-right: 20px;
      }
    }

    .edit {
      display: flex;
      align-items: center;

      padding: 4px;

      border: 1px solid #778192;
      border-radius: 99px;

      &__text {
        margin: 0 8px;

        font-size: 15px;

        color: #778192;
      }

      button {
        min-width: 16px;
        padding: none;

        img {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
