@media (min-width: 600px) and (max-width: 1200px) {
  .itemInfo:last-child{
    margin-top: 10px;
  }
}

@media (min-width: 600px) and (max-width: 920px){
  .itemInfo:nth-last-child(3){
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .itemDivider:first-child{
    display: none;
  }
}
