.info {
  display: flex;
  flex-direction: column;

  width: 350px;

  font-size: 13px;

  color: #778192;

  .stats {
    display: flex;
    justify-content: space-between;

    .stat {
      display: flex;
      align-items: center;
  
      .count {
        margin-left: 6px;
      }
    }
  
    .comments {
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .characteristic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;

    margin-top: 10px;

    .divider {
      height: 0px;
      width: 100%;
      margin: 0 10px;

      opacity: 0.5;
      
      border-bottom: 1px solid #778192;
    }

    .value {
      color: #0073D5;
    }
  }
}