.preview {
  height: 72px;
  padding: 6px 0;

  img {
    height: 72px;
    width: 115px;
  
    object-fit: cover;
  }

  .info {
    display: flex;
    align-items: center;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    height: 100%;
  
    * {
      cursor: pointer;
    }
  }
}

